<?xml version="1.0"?>
<robot name="rubber_wheel_gazebo"  xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="rubber_wheel_gazebo" params="prefix">
		<gazebo reference="${prefix}_wheel_link">
			<mu1 value="5.0"/>
			<mu2 value="0.5"/>
			<kp value="10000000.0" />
			<kd value="1.0" />
			<fdir1 value="1 0 0"/>
			<material>Gazebo/Yellow</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
		
	</xacro:macro>

</robot>
